.app{
    height: 2000px;
    width: 100%;
    border: 1px solid black;
}

.top{
    height: 50px;
    width: 100%;
    background-color: orangered;
    display: flex;
    color: #f9fafb;
}

.top .top1{
    height: 100%;
    width: 20%;
    background-color: orangered;
}

.top .top2{
    height: 100%;
    width: 60%;
    background-color: orangered;
    display: flex;
}

.top2 .top3{
    height: 100%;
    width: 40%;
    background-color: orangered;
    display: flex;
}

.top2 .top4{
    height: 100%;
    width: 20%;
    background-color: orangered;
    display: flex;
}

.top2 .top5{
    height: 100%;
    width: 40%;
    background-color: orangered;
    
    display: flex;
}

.top2 .top3 .header-top-left {
    padding-left: 2%;
    display: flex;
    list-style:none;
}

.top .nav-list{
    padding: 0 3px 0 3px;
    
}

.ngonngu{
    background-color: orangered;
    border: none;
    color: #f9fafb;
}

.top .line1{
    background-color: #f9fafb;
    width: 1px;
    height: 1rem;
}

.top2 .top5 .header-top-right {
    
    display: flex;
    list-style:none;
}

.app .mid{
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0,.09);
    height: 6.25rem;
}

.app .mid .mid1{
    height: 100%;
    width: 20%;
    
}

.app .mid .mid2{
    display: flex;
    height: 100%;
    width: 60%;
   
    
}

.app .mid .mid3{
    height: 100%;
    width: 20%;
   
}

.mid2 .logo-shopee{
    height: 100%;
    width: 30%;
    
}

.mid2 .mid5 {
    height: 100%;
    width: 20%;
    margin: 5px;
}

.mid2 .search{
    height: 100%;
    width: 50%;
 
}



.logo-shopee .icon img {
    width: 50px;
    padding-top: 20px;
    padding-left: 10px;

}
.text-sp {
    font-size: 30px;
    color: orangered;
    padding-left: 5px;
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.line{
    border-left: 1px solid orangered;
    margin-left: 11px;
    margin-top: 37px;
    height: 30px;
  
}

.giohang{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: orangered;
    padding-left: 11px;
    padding-top: 41px;
}

.search-icon {
    height: 38px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:orangered ;
   
   
}

.search{
    margin: 5px;
}

.shopee-searchbar{
    border: 2px solid orangered;
    --focus-indicator-spacing: 3px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 2px;
    background: #fff;
    margin-top: 27px;
}

.search-main{
    display: flex;
    flex: 1;
}

.shopee-searchbar form{
    height: 100%;
    width: 100%;
}

.shopee-searchbar input {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    padding: 0 .625rem;
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
}

.container{
    background-color: #eee;
    
    width: 100%;
    height: 100%;
    display: flex;

}

.con-left{
    height: 100%;
    width: 18%;
    
    background-color: #eee;
}

.con-right{
    height: 100%;
    width: 18%;
   
    background-color: #eee;
}

.if-swd {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.8);
    padding-top: 20px;
    width: 64%;
    height: 100%;
}

.rtM2Xz {
    background-color: #fffefb;
    border: 1px solid rgba(224,168,0,.4);
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
    margin-bottom: .625rem;
    border-radius: 2px;
}

.bXROAg{
    padding-left: 10px;
}

.BjIo5w {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    background: #fff;
    margin-bottom: 12px;
    color: #888;
    padding: 0 20px;
}


.check-all{
    padding-left: 20px;
    padding-right: 15px;
}

.check-all input{
    height: 20px;
    width: 20px;
}

.yl931K {
    color: rgba(0,0,0,.8);
    width: 46.27949%;
    
}

.pZMZa7 {
    width: 15.88022%;
    text-align: center;
}

.lKFOxX{
    text-align: center;
    width: 11%;
}

._5f317z {
    width: 10.43557%;
    text-align: center;
}

.\+4E7yJ {
    width: 12.70417%;
    text-align: center;
}

.name-shop1{
    display: flex;
    height: 3.75rem;
    align-items: center;
    font-size: 14px;
    background-color: #fff;
    color: #888;
    padding: 0 20px;
    border-radius: 3px;
}

.linkshop{
    color: rgba(0,0,0,.87);
    font-weight: 500;
    min-width: 50px;
    display: flex;
    align-items: center;
}

a{
    cursor: pointer;
}


.icon-shop img{
    padding-top: 3px;
}

.linkshop{
    text-decoration: none;
}

.mess{
    display: flex;
    margin-left: 5px;
    background: none;
    border: 0;
    padding: 0;
    
}

.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
    
}

.bTa6Yo {
    color: #ee4d2d;
    width: 1.3rem;
    height: 1rem;
    cursor: pointer;
}

.gh-shop1{
    height: 390px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    background: #fff;
    margin-bottom: .9375rem;
}

.info-shop1{
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    margin: 22px 20px;
}

.them{
    padding: 9px 12px;
    background: #fff3ed;
    
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.87);
    border: 1px solid black;
    
}

.muakem{
    border: 1px solid;
    padding: 1px 4px;
    border-radius: 2px;
    color: #ee4d2d;
    margin-right: 8px;
    vertical-align: middle;
    font-size: 10px;
}

.OQeSXg {
    margin-left: 12px;
    
}

.hh{
    display: inline-block;
    color: #ee4d2d;
    text-transform: capitalize;
    text-decoration: none;
}

.HAW5Go {
    vertical-align: -1px;
}

.VP{
    margin-top: 0;
    padding: 16px 0;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    border: 1px solid black;
}



.zoX{
    display: flex;
    align-items: center;
}



.main-sp{
    width: 28%;
    height: 100px;
    border: 1px solid black;

}

.dT5{
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 2.5rem;
    border-top: 1px solid rgba(0,0,0,.09);
}

.AYA{
    display: flex;
    align-items: center;
    padding: 1.25rem 0 1.25rem 2.5rem;
    border-top: 1px solid rgba(0,0,0,.09);
}

.L-deCr {
    color: #ee4d2d;
    fill: currentColor;
    width: 1.3125rem;
    height: 1.25rem;
    margin-top: .0625rem;
}

.shopee-svg-icon {
    display: inline-block;
    position: relative;
}

.MS9XQD {
    color: #00bfa5;
    stroke: currentColor;
    fill: currentColor;
    width: 1.25rem;
    height: .9375rem;
}