.app{
    height: 2000px;
    width: 100%;
    border: 1px solid black;
    
}

.top{
    height: 50px;
    width: 100%;
    background-color: orangered;
    display: flex;
    color: #f9fafb;
    
   
}


.top .top1{
    height: 100%;
    width: 20%;
    background-color: orangered;
}

.top .top2{
    height: 100%;
    width: 60%;
    background-color: orangered;
    display: flex;
}

.top2 .top3{
    height: 100%;
    width: 40%;
    background-color: orangered;
    display: flex;
}

.top2 .top4{
    height: 100%;
    width: 20%;
    background-color: orangered;
    display: flex;
}

.top2 .top5{
    height: 100%;
    width: 40%;
    background-color: orangered;
    
    display: flex;
}

.top2 .top3 .header-top-left {
    padding-left: 2%;
    display: flex;
    list-style:none;
}

.top .nav-list{
    padding: 0 4px 0 4px;
    
}

.ngonngu{
    background-color: orangered;
    border: none;
    color: #f9fafb;
}

.top .line1{
    background-color: #f9fafb;
    width: 1px;
    height: 1rem;
}

.top2 .top5 .header-top-right {
    
    display: flex;
    list-style:none;
}

.app .mid{
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0,.09);
    height: 6.25rem;
}

.app .mid .mid1{
    height: 100%;
    width: 20%;
    
}

.app .mid .mid2{
    display: flex;
    height: 100%;
    width: 60%;
   
    
}

.app .mid .mid3{
    height: 100%;
    width: 20%;
   
}

.mid2 .logo-shopee{
    height: 100%;
    width: 30%;
    
}

.mid2 .mid5 {
    height: 100%;
    width: 20%;
    margin: 5px;
}

.mid2 .search{
    height: 100%;
    width: 50%;
 
}



.logo-shopee .icon img {
    width: 50px;
    padding-top: 20px;
    padding-left: 10px;

}
.text-sp {
    font-size: 30px;
    color: orangered;
    padding-left: 5px;
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.line{
    border-left: 1px solid orangered;
    margin-left: 11px;
    margin-top: 37px;
    height: 30px;
  
}

.giohang{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: orangered;
    padding-left: 11px;
    padding-top: 41px;
}

.search-icon {
    height: 38px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:orangered ;
   
   
}

.search{
    margin: 5px;
}

.shopee-searchbar{
    border: 2px solid orangered;
    display: flex;
    height: 2.5rem;
    box-sizing: border-box;
    margin-top: 27px;
}

.search-main{
    display: flex;
    flex: 1;
}

.shopee-searchbar form{
    height: 100%;
    width: 100%;
}

.shopee-searchbar input {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    padding: 0 .625rem;
    height: 100%;
    width: 100%;
    border: none;
}

.container{
    background-color: #eee;
    position:none;
    width: 100%;
    height: 100%;
    display: flex;
  
}

.con-left{
    height: 100%;
    width: 18%;
    background-color: #eee;
}

.con-right{
    height: 100%;
    width: 18%;
    background-color: #eee;
}

.ten-j {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.8);
    padding-top: 20px;
    width: 64%;
    height: 100%;
}

.hihi {
    background-color: #fffefb;
    border: 1px solid rgba(224,168,0,.4);
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
    margin-bottom: .625rem;
    border-radius: 2px;
}

.gi-v{
    padding-left: 10px;
}

.huhu {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    background: #fff;
    margin-bottom: 12px;
    color: #888;
    padding: 0 20px;
}


.check-all{
    padding-left: 20px;
    padding-right: 15px;
    
}

.check-all input{
    height: 20px;
    width: 20px;
}

.sanpham {
    color: rgba(0,0,0,.8);
    width: 38%;
    
}

.dongia {
    width: 19%;
    text-align: center;
}

.soluong{
    text-align: center;
    width: 11%;
}

.sotien {
    width: 10%;
    text-align: center;
}

.thaotac {
    width: 13%;
    text-align: center;
}

.name-shop1{
    display: flex;
    height: 3.75rem;
    align-items: center;
    font-size: 14px;
    background-color: #fff;
    color: #888;
    padding: 0 20px;
}

.linkshop{
    color: rgba(0,0,0,.87);
    display: flex;
    align-items: center;
}

a{
    cursor: pointer;
}


.icon-shop img{
    padding-top: 3px;
}

.linkshop{
    text-decoration: none;
}

.mess{
    display: flex;
    margin-left: 5px;
    background: none;
    border: 0;
    padding: 0;
    
}

.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
    
}

.bTa6Yo {
    color: #ee4d2d;
    width: 1.3rem;
    height: 1rem;
    cursor: pointer;
}

.gh-shop1{
    height: 420px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    background: #fff;
    margin-bottom: 20px;
}

.info-shop1{
   
    border-radius: 2px;
    margin: 23px 20px;
    height: 200px;
}

.them{
    padding: 9px 12px;
    background: #fff3ed;
    
    font-size: 14px;
   
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0, 0, 0, .09);
    
}

.muakem{
    border: 1px solid;
    padding: 1px 4px;
    border-radius: 2px;
    color: #ee4d2d;
    margin-right: 8px;
    vertical-align: middle;
    font-size: 10px;
}

.kaka {
    margin-left: 12px;
    
}

.hh{
    display: inline-block;
    color: #ee4d2d;
    text-transform: capitalize;
    text-decoration: none;
}

.haha {
    vertical-align: -1px;
}

.VP{
    height: 130px;
    padding: 16px 0;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0, 0, 0, .09);
 
}



.zo{
    display: flex;
    align-items: center;
}



.main-sp{
    width: 27%;
    height: 128px;
    margin-right: 10px;
 
}

.voucher{
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 2.5rem;
    border-top: 1px solid rgba(0,0,0,.09);
}

.AY{
    display: flex;
    align-items: center;
    padding: 1.25rem 0 1.25rem 2.5rem;
    border-top: 1px solid rgba(0,0,0,.09);
}

.bip {
    color: #ee4d2d;
    fill: currentColor;
    width: 1.3125rem;
    height: 1.25rem;
    margin-top: .0625rem;
}



.dark {
    color: #00bfa5;
    stroke: currentColor;
    fill: currentColor;
    width: 1.25rem;
    height: .9375rem;
}

.anh-sp{
    width: 100%;
    height: 90px;
    display: flex;
}

.hoho{
    height: 90px;
    width: 90px;
   
}

.ao-thun{
    height: 100%;
    width: 100%;
}





.kobt {
    vertical-align: bottom;
    margin-right: 6px;
    height: 14px;
    width: auto;
}

.thoithoi {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #ee4d2d;
}

.size{

    color: rgba(0,0,0,.54);
    display: flex;
    margin-right: 10px;
}

.kuku{
    display: flex;
    text-transform: capitalize;
    align-items: center;
  
}

.but{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-top: 5px solid gray;
    background: none;
    margin-left: 10px;
    padding: 0;
    

}

.price{
    width: 16%;
    display: flex;
    justify-content: center;
}

.meme{
    text-decoration: line-through;
    color: gray;
    margin-right: 8px;
}

.quantities{
    width: 14%;
    justify-content: center;
    display: flex;
}

.but-down{
    border: 1px solid rgba(0,0,0,.09);
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: none;
    
}

.icon-re{
    width: 10px;
    height: 10px;
}

.solo{
    height: 26px;
    width: 40px;
    cursor: text;
    text-align: center;
    border: 1px solid rgba(0,0,0,.09);
    box-sizing: border-box;
}

.but-up{
    border: 1px solid rgba(0,0,0,.09);
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: none;
}

.icon-up{
    width: 10px;
    height: 10px;
}

.price-now{
    width: 9%;
    display: flex;
    justify-content: center;
    color: #ee4d2d;
}

.change{
    width: 15%;

    display: flex;
    justify-content: center;
    color: #ee4d2d;
}

.link-ma{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 18px;
 
}

.hocde {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.ga-lam {
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
}

.buonvl {
    width: 17px;
    height: 13px;
}

.free {
    font-size: 13px;
    color: #252525;
    margin-left: 6px;
}

.het-tien{
    margin: 0 0 0 15px;
    height: 25px;
    display: flex;
    align-items: center;

}

.haizz{
    margin: 0 0 0 25px;
    cursor: pointer;
    color: blue;
}

.reduce-ship{
    margin: 0 0 0 15px;
}

.learn-more{
    margin-left: 20px;
    cursor: pointer;
    color: blue;
}

.gh-shop2{
    height: 330px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 0.125rem;
    background: #fff;
    margin-bottom: 20px;
    
}

.name-shop2{
    display: flex;
    height: 3.75rem;
    align-items: center;
    font-size: 14px;
    background-color: #fff;
    color: #888;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.bruh-bruh{
    color: rgba(0,0,0,.87);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.a{
    border-radius: 3px;
    background-color: orangered;
    color: white;
}

.b{
    margin: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 12px;
}

.lmao-lmao{
    margin-left: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.info-shop2{
    border-radius: 2px;
    height: 150px;
}

.hehe{
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.main-sp2{
    width: 27%;
    height: 115px;
    margin-right: 10px;
    display: flex;
}

.main-sp2 img{
    height: 90px;
    width: 88px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 20px;
}

.ok{
    cursor: pointer;
    color: blue;
}

.bo-kho{
    width: 60%;
    height: 80%;
    align-items: center;
    margin-top: 10px;
    line-height: 30px;
    font-size: 17px;
}


.mua{
    height: 180px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
    background: #fff;
    margin-bottom: 20px;
    position: sticky;
    bottom: 0;
}


.topmid{
    position: sticky;
    top: 0;
}

.chat{
    height: 50px;
    width: 100px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    position: fixed;
    right: 10px;
    bottom: 0px;
    cursor: pointer;

}

.chat img{
    height: 29px;
    width: 32px;
    padding: 12px 0 0 7px;
}

.text-chat{
    font-family: Arial, Helvetica, sans-serif;
    color: #ee4d2d;
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 5px;
}

.m1{
    width: 100%;
    height: 30%;
 
}

.m2{
    width: 100%;
    height: 30%;
    border-bottom: 1px dashed rgba(0,0,0,.09);
    border-top: 1px dashed rgba(0,0,0,.09);
    align-items: center;
    display: flex;
}

.leuleu{
    width: 56%;
}

.xu{
    width: 44%;
    display: flex;
    align-items: center;
}

.xuxu{
    width: 27px;
    height: 28px;
    padding-right: 6px;
    opacity: .3;
}

.non{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-right: 180px;
    opacity: .3;
}

.money{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.m3{
    width: 100%;
    height: 40%;
    align-items: center;
    
}

.null{
    height: 100%;
    width: 60%;
 
}

.vou{
    width: 25%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.m1 img{
    height: 44px;
    width: 40px;
    margin-right: 5px;
}

.ma{
    width: 15%;
    font-size: 18px;
    padding-top: 19px;
    color: blue;
    cursor: pointer;
    opacity: 0.5;
}

.pad-20{
    margin-right: 20px;
}

.change{
    color: #252525;
}

.trash-can{
    height: 39px;
    width: 43px;
    cursor: pointer;
}

.m3 input{
    height: 20px;
    width: 20px;
    margin: 0 30px 0 20px;
}

.vivi{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 22px;
    cursor: pointer;
}

.xixi{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    cursor: pointer;
    color: #ee4d2d;
    max-width: 165px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chiu-thoi{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;

}

.vkl{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ee4d2d;
}

.mua-hang{
    background-color: #ee4d2d;
    width: 9rem;
    height: 40px;
    border: none;
    color: white;
    margin: 0 10px 0 30px;
    cursor: pointer;
}