html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}

.app{
    display: flex;
    flex-direction: column;
    background-color: #f8f9f9;
}
.header {
  height: 120px;
  background-image: linear-gradient(#f53f2d,#fa5230); 
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  
}

.header-mid {
  height: 40px;
  display: flex; 
}

.header-top{
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: relative;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-top-left {
left: 30px;
padding-left: 10%;
height: 100%;
padding-top: 10px;
width: 50%;

display: flex;
list-style:none;
}
.header-top a{
color: #ffffff;
}
.navbar-item-user a{
color:#000000;
}
.header-top-left .nav-list{

padding-right: 5px;

}
.header-top-left .nav-list2{
padding-left: 5px;
padding-right: 5px;
position: relative;
z-index: 10;
}

.nav-list-item-qr{
left:0;
background-color: rgb(255, 255, 255);
position: absolute;
top:10px;
width: 200px;
height: 220px;
margin-top: 20px;
display: none;
transform-origin:10% top ;
z-index: 10;
border-radius: 5px;
flex-direction: column;
animation: hoangcongthanh ease-in 0.1s;
}
@keyframes hoangcongthanh{
from{
  transform: scale(0);
}
to{
  transform: scale(1);
}
}
.nav-list2:hover .nav-list-item-qr{
display: block;
}
.nav-list-dowload ul{
width: 200px;
height: 50px;
margin-top: 10px;
display: flex;
justify-content:space-between;
}
.nav-list-dowload .icon-appstore{
margin-left: 22px;
} 
.nav-list-dowload .icon-ggplay{
margin-left: 9px;
} 
.nav-list-qr{
display: flex;
margin-top: 5px;
justify-content: center;
}
.nav-list-qr img{
width: 90%;
}
.nav-list-dowload img{
width: 70%;

}
.header-top-left .nav-list3{
position:relative;
padding-left: 5px;
z-index: 1;
}
.navbar-list-item-bell{
position: absolute;
right: 0;
z-index: 10;
margin-top: 10px;
height: 400px;
width: 400px;
background-color: #fff2ee;
flex-direction: column;
display: none; 
border-radius:5px;
transform-origin:90% top ;
animation: hoangcongthanh ease-in 0.1s;
}
@keyframes hoangcongthanh{
from{
  transform: scale(0);
}
to{
  transform: scale(1);
}
}

.navbar-list-item-bell1{
height: 40px;
font-size: 16px;
display: flex;
justify-content:start;
padding-left: 10px;
align-items: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

background-color: #ffffff;
transform-origin: top 90%;

}
.navbar-list-item-bell1 p{
opacity: 0.5;
color: #000000;
}
.img-thongbao1{
display: flex;
flex: 15%;
background-color: #fff2ee;
}
.img-thongbao1 img{
width: 80%;
}
.tieude-thongbao2{
flex:85%;
flex-direction: column;
align-items: center;
}
.tieude-thongbao3{
display: flex;
justify-content:start;
padding-top: 5px;
padding-left: 10px;
}
.navbar-list-item-bell2{
height: 50px;
display: flex;
color: #000000;
}
.tieude-thongbao3{
font-weight: 500;
padding-bottom: 5px;
}
.tieude-thongbao5 span{
font-weight: 500;
}
.tieude-thongbao4{
font-size: 12px;
}
.tieude-thongbao5{
font-size: 12px;
}
.header-top-right {
position: absolute;
right: 30px;
padding-top: 10px;
  padding-right: 10%;
  display: flex;
  list-style:none;
}
.nav-list4:hover .navbar-list-item-bell{
display: block;
}
.header-top-right .nav-list4{
padding-right: 5px;
position: relative;

}

.img-thongbao2{
margin-top: 10px;
display: flex;
align-items: center;
}
.navbar-list-item-bell3 img{
width: 20%;
}
.header-top-right .nav-list5{
position: relative;
padding-right: 5px;
padding-left: 5px;
}
.header-top-right .nav-list6{
padding-right: 5px;
padding-left: 5px;
position: relative;
}
.nav-list6:hover .navbar-item-globe{
display: block;
}

.nav-list6 .navbar-item-globe{
position: absolute;
right: 0;
margin-top: 10px;
height: 80px;
width: 200px;
z-index: 10;
display: none;
background-color: #ffffff;
flex-direction: column;
color: #000000;
border-radius: 5px;
animation: hoangcongthanh ease-in 0.1s;
}
.navbar-item-globe-tiengviet{
padding-top: 10px;
padding-bottom: 10px;
font-weight: 500;
}
.navbar-item-globe-tiengviet:hover{
color: #ee4d2d;
}
.navbar-item-english{
padding-top: 10px;
font-weight: 500;
}
.navbar-item-english:hover{
color: #ee4d2d  ;
}
.navbar-item-globe span{
padding-left: 10px;
}

.header-top-right .nav-list7{
padding-right: 5px;
padding-left: 5px;
position: relative;
}
.nav-list7:hover .navbar-item-user{
display: block;
}
.navbar-item-user{
margin-top: 10px;
position: absolute;
right: 0;
height: 100px;
width: 150px;
background-color: #fff;
font-weight: 500;
color: #000000;
flex-direction: column;
display: flex;
align-items:start;
z-index: 10;
border-radius: 5px;
display: none;
animation: hoangcongthanh ease-in 0.1s;}
.navbar-item-user-tk{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
opacity: 0.85;
}
.navbar-item-donhang{
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
opacity: 0.85;
}
.navbar-item-dangxuat p{
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
opacity: 0.85;
}
.header-top .line1{
  background-color: #f9fafb;
  width: 1px;
  height: 1rem;
}
.icon-shopee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.logo-sp img {
  width: 40px;
  margin-bottom: 20px;
  padding-right: 5px;
}
.text-sp {
  font-size: 30px;
  color: azure;
  padding-left: 5px;
}
.header-mid-left {
  flex: 20%;
  height: 50px;
}
.header-mid-mid {
  flex: 60%;
}
.header-mid-right {
  flex: 30%;
}
.icon-cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 45px;
  margin-top: 5px;
  color: white;
  font-size: 30px;
}
.search-group {
  background-color: #f9fafb;
  position: relative;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.search-form {
  flex: 1;
  height: 30px;
  width: 100%;
  background-color: #f9fafb;
  color: white;
  padding-left: 40px;
  margin-top: 0px;
  border: 0px;
  border-radius: 5px;
}
.search-icon {
  height: 30px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fa5230 ;
  margin-right: 5px;
  border-radius: 5px;
}
.header-bot {
  display: flex;
  height: 20px;
}
.header-bot-left {
  flex: 18%;
}
.header a{
  text-decoration: none;
}
.header-bot-mid {
  flex: 50%;
  display: flex;
}
.header-bot-mid ul{
width: 100%;
display: flex;
justify-content:center;
justify-content: space-between;
color: #fff;
font-size: 14px;
}

.header-bot-right {
  flex: 32%;
}
.navbar {
display: flex;
flex-direction: column;
background-color: #f8f9f9;
}
.product-item{
  margin-top: 120px;
  width: 100%;
  background-color: #f8f9f9;
}
.product-item1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 16px;
}
.product-item2{
  display: flex;
}
.product-item2-left{
  flex:10%;
  margin-left: 10%;
  background-color: #f53f2d;
}
.product-item2-right{
  margin-right: 10%;
  flex:70%;
  background-color: #fcf5f5;
}
.product-item-left-img1 img{
  width: 100%;
  height: 500px;
}
.product-item-left-img2 ul{
  display: flex;
}
.product-item-left-img2 li:hover{
  border: #f10c0c 1px solid;
}
.product-item-left-img2 img{
  width: 80px;
  height: 80px;
}
.product-item2-right2-text{
  display: flex;
}
.product-item2-right2-text span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  font-size: 14px;
  height: 20px;
  color: #fff;
  background-color:#ee4d2d;
  border-radius: 5px;
  
}
.product-item2-right2-text p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}
.product-item2-right2-icon{
  height: 50px;
  background-color:#ffffff;
  display: flex;
  margin-top: 15px;

}
.product-item2-right2-icon ul{
  flex: 40%;
  display: flex;
  align-items: center;

}
.product-item2-right2-icon li{
  margin-right: 10px;
}
.product-item2-right2-icon span{
  color:#ee4d2d;
}
.right2-text2{
  flex: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 40px;
}
.product-giasp{
  height: 50px;
  display:flex;
  align-items: center;
  background-color: #f8f9f9;
  padding-left: 10%;
  font-size: 25px;
  color: #070606;
  font-weight: 500;
}
.product-giasp s{
  color: #f11010;
  margin-right: 25px;
}
.product-giasp p{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 70px;
  font-size: 16px;
  margin-left: 15px;
  color: #fff;
  border-radius: 2px;
  background-color: #ee4d2d;
  
}
.product-baohiem{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30px;
  display: flex;
  align-items: center;
}
.product-baohiem span{
  margin-right: 40px;
}
.product-baohiem p{
  margin-right: 15px;
}
.product-vanchuyen{
  margin-top: 1px;
  margin-bottom: 15px;
  display: flex;
}
.product-vanchuyen span{
  margin-right: 25px;
}
.product-mausac{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  align-items: center;
}
.product-mausac span{
  margin-right: 45px;
}
.product-mausac ul{
  display: flex;
}
.product-mausac li{
  margin-right: 10px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: #000000 0.5px solid;
  background-color:#f8f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}
.product-size{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;

}
.product-size span{
  margin-right: 50px;
}
.product-size p{
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#f8f9f9;
  border-radius: 3px;
  border: #000000 0.5px solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.buttom{
  display: flex;
  margin-top: 25px;
  margin-bottom: 15px;
  height: 70px;
}
.buttom span{
  margin-left: 40px;
  height: 45px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffeee8;
  border-radius: 3px;
  border: #000000 0.5px solid;
  margin-right: 30px;
}
.buttom p{
  height: 45px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffeee8;
  border-radius: 3px;
  border: #000000 0.5px solid;
}
.product-shop{
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  height: 150px;
  display: flex;
  background-color:#ffffff;
}
.product-shop-left{
  flex: 35%;
  display: flex;
}
.product-shop-left-img{
  margin-left: 20px;
  width: 100px;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.product-shop-left-img img{
  width: 80px;
  border-radius: 100%;
}.product-shop-right{
  flex:65%;
}
.product-shop-left-text{
  margin-left: 2%;
  margin-top: 20px;
  height: 100%;
  flex-direction: column;
}
.product-shop-left-text li{
  margin-bottom: 5px;
}
.product-shop-left-text p{
  margin-bottom: 10px;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000 0.6px solid;
}
.product-shop-right ul{
  display: flex;
  margin-top: 40px;
  margin-left: 25px;
  justify-content: space-between;
  margin-right: 50px;
}
.product-shop-right li{
  opacity: 0.8;
}
.product-shop-right p{
  color: #f53f2d;
}
.vuminhtuan{
  display: flex;
  margin-bottom: 100px;
}
.prodcut-chitietsp{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 2%;
  flex: 70%;
  background-color:#ffffff;
 
}
.vuminhtuan11{
  flex :25%;
  margin-top: 20px;
  margin-right: 10%;
  background-color: #ffffff;
}
.chitietsp-span{
  /* width: 100%; */
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;


}
.prodcut-chitietsp span{
  font-size: 25px;
  height: 25px;
  width: 100%;
  margin-left: 15px;
}
.prodcut-chitietsp-list{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
.prodcut-chitietsp-list .list1{
  opacity: 0.8;
  margin-right: 30px;
}
.prodcut-chitietsp-list li{
  margin-top: 15px;
}
.product-mota ul{
  margin-left: 30px;
}
.product-mota p{
  margin-left: 30px;

}
.product-mota li{
  margin-top: 15px;
  font-size: 14px;
}
.vuminhtuan-89{
width: 100%;
height: 40px;
align-items: center;
opacity: 0.8;
display: flex;
justify-content: center;
}
.vuminhtuan-img img{
  width: 180px;
  height: 100%;
  margin-left: 60px;
}
.vuminhtuan-img{
  width: 100%;
}
.vuminh-89 ul{
  width: 100%;
}
.vuminh-89 li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.vuminh-89 p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ee4d2d;
}

.line-sp{
  background-color: #ee4d2d;
  width: 100%;
  height: 5px;
}
.container10{
  margin-top:50px;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}
.container10-item span{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  }
.container1010-item{
  background-color: #f5f5f5;

}
.container10-item ul{
  margin-top: 15px;
}
.container10-item li{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}
.container10-item li:hover{
  color: #ee4d2d;
}
.thanhtoan-item ul{
 display: grid;
  height: 50%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr;
}
.thanhtoan-item li{
  margin-right: 5px;
  margin-left: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.container10-item .item-fb{
  font-size: 20px;
  margin-top: 20px;
}
.container10-item .item-ins{
  font-size: 20px;
  margin-top: 20px;
}
.container10-item .item-link{
  font-size: 20px;
  margin-top: 20px;
}
.container10-item .fa-facebook{
  margin-right: 10px;
}
.container10-item .fa-instagram{
  margin-right: 10px;
}
.container10-item .fa-linkedin{
  margin-right: 10px;
}
.container10-item-hct{
  height: 200px;
  display: flex;
}
.container10-item-qr{
  flex: 50%;
}
.container10-item-qr img{
  width: 100px;
}
.container10-item-3anh{
  flex: 50%;
}
.container10-item-3anh .anh2{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: 1px;
}
.container10-item-3anh .anh1{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.container10-item-3anh img{
  width: 70%;
  margin-top: 10px;
}
.hiden-hct{
  background-color: #000000;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 1px;
  opacity: 0.4;

  
}
.footer-end{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}