.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.container {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;

}
.contai {
    flex: 15%;
    background-color: aqua;  
    /* background-color: #223771;   */
}
.contai{
    display: flex;
    flex-direction: column;
  }
  .contai-top{
    background-color: #223771;
        flex: 20%;
  }
  .contai-top-icon{
    display: flex;
    color:#96aae0;
  }
.contai-top-icon-1{
    width: 50px;
    padding-top: 90px;
    
}
.fa-indent {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 15px;
}
.fa-house-chimney{
    font-size: 30px;
}
.fa-newspaper{
    font-size: 30px;
}
.fa-address-card{
    font-size: 30px;
}
.fa-cubes {
    font-size: 30px;
}
.fa-solid{
    font-size: 30px;
}
.contai-bot-icon{
    padding-top: 30px;
    margin-right: 20px; /* Thêm khoảng cách 20px với các phần tử bên phải */
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    color:#96aae0;
    
}
.contai-bot-icon i {
    margin-right: 50px; /* Khoảng cách 10px giữa icon và thẻ span */
}
.contai-top-icon-img{
    padding-top: 0px;
}

  .contai-bot{
    background-color: #223771;
    flex: 80%;
  }
  .contai-bot-icon{

  }
  .line1 {
    width: 100%;
    height: 1px;
    background-color: #16285e;
    transition: ease .5s;
}

.linehiden {
    width: 225px;
    height: 1px;
    background-color: transparent;
    transition: ease .3s;
}

.small-sidebar .line-hiden {
    width: 65px;
}

.line2 {
    width: 100%;
    height: 1px;
    background-color: #324784;
}
.tainer {
    background-color:#223771;
    flex: 85%;
        display: flex;
    flex-direction: column;
}
.navbar-top {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #223771;
overflow: auto;
}
.navbar {
    flex: 70%;
    background-color:#eff2fd;
}
.navbar{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.navbar-bot {
    flex: 10%;
    background-color:#223771;
    
}

.search-group {
background-color: #223771;
margin-left: auto;
/* margin-right: auto; */
margin-right: 10px; 
position: relative;
width: 480px;
display: flex;
align-items: center;
justify-content: center;

}

.search-form {
flex: 1;
height: 35px;
background-color: #8b96b2;
border: solid 1px #223771;
border-radius: 100px;
color: white;
padding-left: 40px;
}

/* .search-form::placeholder {
color: white; */
}
.user {
margin-left: 50px;
margin-right: 100px;
}


.search-icon {
position: absolute;
top: 50%;
left: 15px;
transform: translateY(-50%);
color: white;
}
.user-icon {
width: 30px;
height: 30px;
border-radius: 50%;
background-color: var(--light-blue-bg);
display: flex;
justify-content:left;
align-items:flex-end;
font-size: 14px;
margin-left: 15px;
}

.user img {
width: 40px;
height: 50px;
margin-left: 40;
}